main,
section {
  margin: 3rem auto;
  max-width: 90vw;
  width: 50ch;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#rules-number {
  font-size: 2rem;
}

.btn.btn-info {
  background-color: #e64c66;
  color: #ffffff;
}

.btn.btn-info:hover {
  background-color: #f3e033;
}

.btn.btn-info:active {
  background-color: #6fd47c;
}

.btn.btn-correct:active {
  background-color: #6fd47c;
}

.correct {
  background-color: #6fd47c;
}

.btn.btn-incorrect:active {
  background-color: #e64c66;
}

.incorrect {
  background-color: #e64c66;
}

/*This whole section is just editing the quiz box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(113, 0, 136);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

section.btn {
  border: 1px solid;
  padding: 5px 10px;
  color: black;
}

/*
need this only to happen once Begin is selected
also come back to change hues for wrong/right answers
.quiz
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
*/
